<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>in temployees html</p>
	<p>${employee.firstName} - ${employee.lastName}</p>
	<table cellspacing="0" border="1" cellpadding="10">
		<tr><th>First name</th><td th:text="${employee.firstName}"></td></tr>
		<tr><th>Last name</th><td th:text="${employee.lastName}"></td></tr>
		<tr><th>Position</th><td th:text="${employee.position}"></td></tr>
		<tr><th>Office</th><td th:text="${employee.office}"></td></tr>
		<tr><th>Start date</th><td th:text="${employee.startDate}"></td></tr>
		<tr><th>Salary</th><td th:text="${employee.salary}"></td></tr>
	</table>
</body>
</html>